# cache de Python
**/__pycache__/
# archivos .py de UI compilados
src/ui/*
!src/ui/__init__.py
# módulos instalados por pip
Lib/
# scripts del entorno virtual
Scripts/
# configuración del entorno
pyvenv.cfg
# carpetas de configuración IDE
.idea/
.vscode/
.pytest_cache
# carpetas generadas por nuitka
PrintPOS.*/
