# cache de Python
**/__pycache__/
# módulos instalados por pip
Lib/
# scripts del entorno virtual
Scripts/
# configuración del entorno
pyvenv.cfg
# carpetas de configuración IDE
.idea/
.vscode/
# carpetas generadas por nuitka
PrintPOS.*/
